@charset "utf-8";
/* CSS Document */

body {
    
width: 100vw;
background-color: white;
height: 80em;
background-image:url("../img/Lined-Paper.png");
font-family: 'Indie Flower', cursive;
overflow-y: scroll;  
overflow-x: hidden;
background-size: 100vw;

    
}





header ul  {
    
list-style: none;
position: absolute;
text-align: center;
display: inline-block;
z-index: 99;



}


header li {
 

display: inline-block;
margin-right: 5em;
z-index: 99;


}

h1 {
    

color: black;
z-index: 99;
font-size: 3vw;




}


h2 {
    
font-size: 2.5vw;
margin-top: 0vw;
margin-bottom: 0.5vw;
padding: 0vw;





}



h3 {

display: none;
font-size: 3em;
color: #000000;


}



span1:hover + .niagara-region {
  display: block;

}


span2:hover + .montreal {
  display: block;

}

span3:hover + .mexico {
  display: block;

}

span4:hover + .dominican {
  display: block;

}


a {
    
text-decoration: none;
}

a:hover {
    
opacity: 0.5;
cursor:pointer;
}


li {
    
line-height: 1.5
}





.about-me {
    
    
float: left;
margin-top: 4.3em;
margin-left: 28vw;
font-size: 3.3vw;
padding: 0;
margin-bottom: 0;
}



.about-me-text {
    
float: left;
width: 40vw;
font-size: 1.5vw;
margin-left: 10em;
line-height: 5.3vw;
margin-top: 1.1vw;
}


.self-portrait {
    
    
float:right;
width: 30vw;
margin-right: 10vw;
margin-top: 16vw;
}


.niagara-region{
    
position: absolute;
top: 21.6vw;
left: 18vw;
font-size: 2.5vw;


}

.montreal{
    
position: absolute;
top: 21.4vw;
left: 38.5vw;
font-size: 2.5vw;

}

.mexico{
    
position: absolute;
top: 27.6vw;
left: 16.5vw;
font-size: 2.5vw;

}

.dominican{
    
position: absolute;
top: 28.2vw;
left: 38.8vw;
font-size: 2.5vw;

}




.top-nav {
    
position: absolute;
min-width: 100vw;
padding: 0.3em;
z-index: 99;
top: 1vw;
left: 13.5vw;



 
}


.menu {
z-index: 99;    
 

}

.menu-icon {
 
position: fixed;
margin-left: 3em; 
display: inline;
padding-right: 3em;
margin-top: 1em;
z-index: 99;


}


.background-image{
top: 5em;    
width: 100vw;
height: auto;
position: relative;
z-index: 0;

}



.bg-modal {
    
 width: 100vw;
	height: 576em;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
 
    

}


.close{
	
position: absolute;
top: -0.7vw;
right: 14px;
font-size: 3vw;
transform: rotate(45deg);
cursor: pointer;
}

.close:hover{
    
opacity: 0.5;
}

.list-5-modal {
    
    
width: 50vw;
height: 35vw;
background-color: #FFFFFF;
border-radius: 0px;
z-index: 99;
margin-top:1em;
display: block;
position: fixed;
top: 10em;
background-image: url("../img/Lined-Paper.png");
background-size: cover;

}


.vacation-image {
    
width: 13vw;
padding-top: 8vw;
padding-right: 4vw;
float: right;

}

.vacation-title {
    
float: left;
margin-top: 7.2vw;
margin-left: 8vw;
font-size: 2vw;
}

.vacation-paragraph {
    
float: left;
width: 15em;
margin-left: 8vw;
font-size: 1.5vw;
line-height: 2.7vw;

    
}

.the-list{
    
position: relative;
}

.listitem1 {
    
position: absolute;
top: 15.5vw;
left: 15vw;

}

.listitem2 {
    
position: absolute;
top: 20.8vw;
left: 15vw;

}

.listitem3 {
    
position: absolute;
top: 26.2vw;
left: 15vw;

}

.listitem4 {
    
position: absolute;
top: 31.5vw;
left: 15vw;

}

.listitem5 {
    
position: absolute;
top: 36.6vw;
left: 15vw;
text-decoration: line-through;

}




.listitem6 {
    
position: absolute;
top: 42vw;
left: 15vw;

}


.listitem7 {
    
position: absolute;
top: 47.3vw;
left: 15vw;

}


.listitem8 {
    
position: absolute;
top: 52.6vw;
left: 15vw;
    


}


.listitem9 {
    
position: absolute;
top: 57.9vw;
left: 15vw;
}

.map {
    
width: 70vw;
position: absolute;
top: 13vw;
left: 18vw;
}

.x-1 {
    
width: 3vw;
position: absolute;
top: 25vw;
left: 34vw;
z-index: 99;
}

.x-1:hover {
    
opacity: 0.5;
cursor: pointer;
}

.x-2 {
    
width: 3vw;
position: absolute;
top: 31vw;
left: 32.5vw;
z-index: 99;
}

.x-2:hover {
    
opacity: 0.5;
cursor: pointer;
}

.x-3 {
    
width: 3vw;
position: absolute;
top: 24.5vw;
left: 35.5vw;
z-index: 99;
}

.x-3:hover {
    
opacity: 0.5;
cursor: pointer;
}

.x-4 {
    
width: 3vw;
position: absolute;
top: 31.3vw;
left: 36vw;
z-index: 99;
}

.x-4:hover {
    
opacity: 0.5;
cursor: pointer;
}


@media only screen and (max-width: 600px) {
 

    
    
    
    
    body {
    
width: 100vw;
background-color: white;
height: 50em;
background-image:url("../img/Lined-Paper.png");
font-family: 'Indie Flower', cursive;
overflow-y: scroll;  
overflow-x: hidden;
 background-size: 100vw;
    
}
    
    
  

header ul  {
    
list-style: none;
position: absolute;
text-align: center;
display: inline-block;
top:  -5.5em;
z-index: 99;

}


header li {
 

display: inline-block;
margin-right: 1.5em;
z-index: 99;


}

h1 {
    
font-size: 4vw;
color: black;
z-index: 99;


}


h2 {
    
font-size: 7vw;
margin-top: 0em;
margin-bottom: 0.5em;
padding: 0;





}



h3 {

display: none;
font-size: 3em;
color: #000000;


}



span1:hover + .niagara-region {
  display: block;

}


span2:hover + .montreal {
  display: block;

}

span3:hover + .mexico {
  display: block;

}

span4:hover + .dominican {
  display: block;

}


a {
    
text-decoration: none;
}

a:hover {
    
opacity: 0.5;
cursor:pointer;
}


li {
    
line-height: 1.5
}


.about-me {
    
    

margin-top: 4.3vw;
margin-left: 20vw;
font-size: 3.6em;
padding: 0;
margin-bottom: 0;
}



.about-me-text {
    
float: left;
width: 65vw;
font-size: 5vw;
margin-left: 19vw;
line-height: 5.5vw;
margin-top: 3.6vw;
}


.self-portrait {
    
    

width: 50vw;
margin-right: 25vw;
margin-top: 16.5vw;
}


.niagara-region{
    
position: absolute;
top: 36.6vw;
left: 11vw;
font-size: 2.5vw;


}

.montreal{
    
position: absolute;
top: 35.5vw;
left: 33vw;
font-size: 2.5vw;

}

.mexico{
    
position: absolute;
top: 43.8vw;
left: 9vw;
font-size: 2.5vw;

}

.dominican{
    
position: absolute;
top: 45.5vw;
left: 32vw;
font-size: 2.5vw;

}




.top-nav {
    
position: absolute;
height: 9vw;
z-index: 99;
top: 20vw;
left: 3.6vw;


 
}


.menu {
z-index: 99;    
 

}

.menu-icon {
 
position: fixed;
margin-left: 3em; 
display: inline;
padding-right: 3em;
margin-top: 1em;
z-index: 99;


}


.background-image{
top: 5em;    
width: 100vw;
height: auto;
position: relative;
z-index: 0;

}



.bg-modal {
    
 width: 100vw;
	height: 576em;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
    justify-content: center;
	align-items: center;
	display: none;
 
    

}


.close{
	
position: absolute;
top: -0.5vw;
right: 14px;
font-size: 8vw;
transform: rotate(45deg);
cursor: pointer;
}

.close:hover{
    
opacity: 0.5;
}

.list-5-modal {
    
    
width: 80vw;
height: 70vw;
background-color: #FFFFFF;
border-radius: 0px;
z-index: 99;
margin-top:1em;
display: block;
position: fixed;
top: 10em;
background-image: url("../img/Lined-Paper.png");
background-size: cover;

}


.vacation-image {
    
width: 25vw;
padding-top: 14vw;
padding-right: 7vw;
float: right;

}

.vacation-title {
    
float: left;
margin-top: 15.2vw;
margin-left: 8vw;
font-size: 4vw;
padding: 0;
margin-bottom: 0;
}

.vacation-paragraph {
    
float: left;
width: 13em;
margin-left: 8vw;
font-size: 3vw;
line-height: 4.3vw;
margin-top: 3.1vw


    
}

.the-list{
    
position: relative;
}

.listitem1 {
    
position: absolute;
top: 26vw;
left: 16vw;

}

.listitem2 {
    
position: absolute;
top: 37vw;
left: 16vw;

}

.listitem3 {
    
position: absolute;
top: 47.5vw;
left: 16vw;

}

.listitem4 {
    
position: absolute;
top: 57.7vw;
left: 16vw;

}

.listitem5 {
    
position: absolute;
top: 68.4vw;
left: 16vw;
text-decoration: line-through;

}




.listitem6 {
    
position: absolute;
top: 79vw;
left: 16vw;

}


.listitem7 {
    
position: absolute;
top: 90vw;
left: 16vw;

}


.listitem8 {
    
position: absolute;
top: 100.1vw;
left: 16vw;
    


}


.listitem9 {
    
position: absolute;
top: 110.7vw;
left: 16vw;
}

.map {
    
width: 90vw;
position: absolute;
top: 25vw;
left: 5vw;
}

.x-1 {
    
width: 3vw;
position: absolute;
top: 40vw;
left: 27vw;
z-index: 99;
}

.x-1:hover {
    
opacity: 0.5;
cursor: pointer;
}

.x-2 {
    
width: 3vw;
position: absolute;
top: 48vw;
left: 24vw;
z-index: 99;
}

.x-2:hover {
    
opacity: 0.5;
cursor: pointer;
}

.x-3 {
    
width: 3vw;
position: absolute;
top: 39vw;
left: 29vw;
z-index: 99;
}

.x-3:hover {
    
opacity: 0.5;
cursor: pointer;
}

.x-4 {
    
width: 3vw;
position: absolute;
top: 48.6vw;
left: 28.5vw;
z-index: 99;
}

.x-4:hover {
    
opacity: 0.5;
cursor: pointer;
}

    


}

